@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');
/* font-family: "Dancing Script", cursive; */

/* shared style  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

header, main, footer{
    width: 100%;
}

.container{
    width: 85%;
    margin: 0 auto;
}

section{
    padding-top: 2rem;
}

.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 16px 40px 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;

}

.btn-secondary{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: black;

}

img{
    width: 100%;
}


/* navbar style starts here */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;

}
.navbar h3{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    text-align: left;
    font-style: italic;
}

.navbar .lists {
    /* width: 465px; */
    height: 46px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.8rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px; 
    padding: 0 1rem;

}

.navbar .lists li a{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s all linear;
}

.navbar .lists li a:hover{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    
}

.navbar .ham-burger{
    display: none;

}


.navbar .ham-burger i{
    color: white;
    width: 24px;
    height: 24px;
    background-color: black;
    font-size: 1.2rem;
    

}


/* navbar style ends here */

/* Get body in shape & stay healthy section */

.banner-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;
}

.banner-container .left-box{
    width: 50%;
    margin-top: 3rem;
    /* width: 520px;
    height: 281px; */
}
.banner-container .left-box h1{
    padding-top: 3rem;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 900;
    text-align: left;
    
}

.banner-container .left-box span{
    font-family: "Dancing Script", cursive;
    font-weight: 600;

}

.banner-container .left-box p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 1.5rem 0;
}

.banner-container .left-box .btn{
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}


.right-box{
    width: 50%;
    position: relative;
    width: 349px;
    height: 580px;

}


.button-bottom{
    position: absolute;
    bottom: 84px;
    left: -111px;
    
}
.button-bottom{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1.5rem ;
}


.button-bottom .circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.button-bottom h4{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;

}

.button-bottom p{
    color: rgb(250, 250, 249);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;

}

.button-top{
    position: absolute;
    left: 142px;
    top: 200px;
}


.button-top{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 1.5rem ;
}

.button-top h4{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;

}

.button-top p{
    color: rgb(250, 250, 249);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;

}
/* Get body in shape & stay healthy section */



/* Change Your Habits starts here */

.habit_container{
    margin-top: 4.5rem;
}

.habit_container .title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

}

.habit_container .subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}

.routine_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 30px;
}


.routine_container .card img{
    border-radius: 50%;
}

.routine_container .card h4{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.7rem;

}

.routine_container .card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
/* Change Your Habits ends here */

/* responsive starts here  */


@media screen and (max-width: 576px) {
    /* header section responsive starts here */
    .container{
        width: 90%;
    }
    .navbar .lists{
        display: none;
    }
    .navbar .ham-burger{
        display: block;   
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-container .left-box{
        width: 100%;
    }
    .banner-container .right-box{
        width: 100%;
    }
    .banner-container .left-box h1{
        font-size: 2.5rem;            
    }
    .button-top {       
        left: 179px;
        top: 10px;
    }
    .button-bottom {
        bottom: 152px;
        left: 0px;
    }

    /* header section responsive ends here */

    /*Change Your Habits responsive starts here  */

    .routine_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    .habit_container{
        margin-top: 2rem;
    }
    
    .habit_container .title{
        font-size: 2.2rem;
    
    }
    
    /*Change Your Habits responsive ends here  */

}